<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>- %m%n</pattern>
    </encoder>
  </appender>
  <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <File>${webapp.root}/logs/webapp.log</File>
    <encoder>
      <pattern>%d %p [%c] - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>100</maxIndex>
      <FileNamePattern>${webapp.root}/logs/webapp.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>512KB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  <logger name="net.sf.hibernate.SQL" level="INFO"/>
  <logger name="org.springframework" level="INFO"/>
  <logger name="net.sf.hibernate.type" level="INFO"/>
  <logger name="net.sf.hibernate" level="INFO"/>
  <logger name="org.apache.commons" level="INFO"/>
  <logger name="net.sf.hibernate.tool.hbm2ddl" level="INFO"/>
  <root level="INFO">
    <appender-ref ref="stdout"/>
    <appender-ref ref="logfile"/>
  </root>
</configuration>